<!DOCTYPE html>

<html lang="en">

{% include 'pre.html' %}
{% load static %}

<head>
	<div class = "container text-light">
		<div class = "row"> 
		 <div class = "col-sm-4 text-left">
		 	<h1> Erick Gomez </h1>
		 </div>

		 	<div class = "col-sm-6 text-dark">
		 	<h1> Learn about this mad lad -> </h1>
		 </div>
		</div>
		<div class = "row text-dark">

			<div class = "col-sm-6 text-left">
  				<h3> Hello! I'm currently studying Robotics and Intelligent Systems at Colorado School Of Mines. I like thinking about how simple rules can lead to complex/nifty behavior, which is why I like playing with robots and shapes alike. I also dabble in website "design".

  				</h3>
			</div>
		</div>

<div class = "row text-dark">
			<div class = "col-sm-6 text-left">
  				<h3>

  				I also run/am in the process of revamping the electronics maker space on campus with my friends. We'll hopefully be getting a whole seperate website where you can see what we're doing soon, but for now click here to see what we're up to.

  				</h3>
			</div>

		</div>
	</div>



</html>



